<div class="navbar">
    <div class="navbar-inner">
        <div class="left"><a href="#" class="back link album_panel"> <i class="icon icon-back"></i><span>Back</span></a></div>
        <div class="center sliding">专辑歌曲</div>
    </div>
</div>
<div class="pages">
    <div data-page="services" class="page">
        <div class="page-content">
            <div class="list-block">
                <ul id="list-album">
                    {% for item in data %}
                    <li>
                        <a href="/song.html?sid={{ item['id'] }}" class="item-link">
                            <div class="item-content">
                                <div class="item-inner"> 
                                    <div class="item-title">{{ item['hMusic']['name'] }}</div>
                                </div>
                            </div>
                        </a>
                   {% end %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>