<!DOCTYPE html>
<html lang="en">
  	<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="link" content="http://homeway.me">
    <meta name="author" content="homeway">
    <meta name="email" content="xiaocao.grasses@gmail.com">


    <!--[if lt IE 9]>
        <script src="http://docs.ghostchina.com/assets/js/html5shiv.js"></script>
        <script src="http://docs.ghostchina.com/assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{{ data }}
</body>
</html>